<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.dao.ItemMapper">
  <resultMap id="BaseResultMap" type="com.software.domain.Item">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="retailPrice" jdbcType="REAL" property="retailprice" />
    <result column="wholesalePrice" jdbcType="REAL" property="wholesaleprice" />
    <result column="purchasePrice" jdbcType="REAL" property="purchaseprice" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, name, type, specification, picture, retailPrice, wholesalePrice, purchasePrice
  </sql>
  <update id="createNewTable" parameterType="String">  
        CREATE TABLE ${tablename}
        (
		  `ID` INT NOT NULL AUTO_INCREMENT COMMENT '商品ID',
		  `name` VARCHAR(100) NOT NULL COMMENT '商品名字',
		  `type` VARCHAR(45) NOT NULL COMMENT '商品类型',
		  `specification` VARCHAR(500) NULL COMMENT '商品信息说明',
		  `picture` VARCHAR(100) NULL COMMENT '商品图片',
		  `retailPrice` FLOAT NULL COMMENT '零售价',
		  `wholesalePrice` FLOAT NULL COMMENT '批发价',
		  `purchasePrice` FLOAT NULL COMMENT '进货价',
		  PRIMARY KEY (`ID`)
		)
		ENGINE = InnoDB
		DEFAULT CHARACTER SET = utf8
		COMMENT = '仓库商品信息表';
  </update> 
  
  <select id="selectByPrimaryKey" parameterType="com.software.domain.Item" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ${tablename}
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="select" parameterType="com.software.domain.Item" resultMap="BaseResultMap">
		select *
		from ${tablename}
		<where>
			<if test="id!=null and id!=''">
				and ID = #{id}
			</if>
			<if test="name!=null and name!=''">
				and name = #{name}
			</if>
			<if test="type!=null and type!=''">
				and type = #{type}
			</if>
			<if test="specification!=null and specification!=''">
				and specification = #{specification}
			</if>
		</where>
	</select>
	
  <delete id="deleteByPrimaryKey" parameterType="com.software.domain.Item">
    delete from ${tablename}
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.software.domain.Item">
    insert into ${tablename} 
    (ID, name, type, 
      specification, picture, retailPrice, 
      wholesalePrice, purchasePrice)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, #{retailprice,jdbcType=REAL}, 
      #{wholesaleprice,jdbcType=REAL}, #{purchaseprice,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.software.domain.Item">
    insert into ${tablename}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="specification != null">
        specification,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="retailprice != null">
        retailPrice,
      </if>
      <if test="wholesaleprice != null">
        wholesalePrice,
      </if>
      <if test="purchaseprice != null">
        purchasePrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="retailprice != null">
        #{retailprice,jdbcType=REAL},
      </if>
      <if test="wholesaleprice != null">
        #{wholesaleprice,jdbcType=REAL},
      </if>
      <if test="purchaseprice != null">
        #{purchaseprice,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.software.domain.Item">
    update ${tablename}
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="specification != null">
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="retailprice != null">
        retailPrice = #{retailprice,jdbcType=REAL},
      </if>
      <if test="wholesaleprice != null">
        wholesalePrice = #{wholesaleprice,jdbcType=REAL},
      </if>
      <if test="purchaseprice != null">
        purchasePrice = #{purchaseprice,jdbcType=REAL},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.software.domain.Item">
    update ${tablename}
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      retailPrice = #{retailprice,jdbcType=REAL},
      wholesalePrice = #{wholesaleprice,jdbcType=REAL},
      purchasePrice = #{purchaseprice,jdbcType=REAL}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>