<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.dao.SaleOrderMapper">
  <resultMap id="BaseResultMap" type="com.software.domain.SaleOrder">
    <id column="orderID" jdbcType="INTEGER" property="orderid" />
    <result column="viceID" jdbcType="INTEGER" property="viceid" />
    <result column="clientID" jdbcType="INTEGER" property="clientid" />
    <result column="principalID" jdbcType="INTEGER" property="principalid" />
    <result column="itemNum" jdbcType="INTEGER" property="itemnum" />
    <result column="perPrice" jdbcType="REAL" property="perprice" />
    <result column="sumPrice" jdbcType="REAL" property="sumprice" />
    <result column="margin" jdbcType="REAL" property="margin" />
    <result column="isScript" jdbcType="BIT" property="isscript" />
    <result column="isCheck" jdbcType="BIT" property="ischeck" />
    <result column="isGather" jdbcType="BIT" property="isgather" />
    <result column="isReturn" jdbcType="BIT" property="isreturn" />
    <result column="createTime" jdbcType="TIME" property="createtime" />
    <result column="checkTime" jdbcType="TIME" property="checktime" />
    <result column="gatherTime" jdbcType="TIME" property="gathertime" />
    <result column="returnTime" jdbcType="TIME" property="returntime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="exception" jdbcType="VARCHAR" property="exception" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    orderID, viceID, clientID, principalID, itemNum, perPrice, sumPrice, margin, isScript, 
    isCheck, isGather, isReturn, createTime, checkTime, gatherTime, returnTime, status, 
    exception, note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sale_order
    where orderID = #{orderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sale_order
    where orderID = #{orderid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.software.domain.SaleOrder">
    insert into sale_order (orderID, viceID, clientID, 
      principalID, itemNum, perPrice, 
      sumPrice, margin, isScript, isCheck, 
      isGather, isReturn, createTime, 
      checkTime, gatherTime, returnTime, 
      status, exception, note
      )
    values (#{orderid,jdbcType=INTEGER}, #{viceid,jdbcType=INTEGER}, #{clientid,jdbcType=INTEGER}, 
      #{principalid,jdbcType=INTEGER}, #{itemnum,jdbcType=INTEGER}, #{perprice,jdbcType=REAL}, 
      #{sumprice,jdbcType=REAL}, #{margin,jdbcType=REAL}, #{isscript,jdbcType=BIT}, #{ischeck,jdbcType=BIT}, 
      #{isgather,jdbcType=BIT}, #{isreturn,jdbcType=BIT}, #{createtime,jdbcType=TIME}, 
      #{checktime,jdbcType=TIME}, #{gathertime,jdbcType=TIME}, #{returntime,jdbcType=TIME}, 
      #{status,jdbcType=INTEGER}, #{exception,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.software.domain.SaleOrder">
    insert into sale_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        orderID,
      </if>
      <if test="viceid != null">
        viceID,
      </if>
      <if test="clientid != null">
        clientID,
      </if>
      <if test="principalid != null">
        principalID,
      </if>
      <if test="itemnum != null">
        itemNum,
      </if>
      <if test="perprice != null">
        perPrice,
      </if>
      <if test="sumprice != null">
        sumPrice,
      </if>
      <if test="margin != null">
        margin,
      </if>
      <if test="isscript != null">
        isScript,
      </if>
      <if test="ischeck != null">
        isCheck,
      </if>
      <if test="isgather != null">
        isGather,
      </if>
      <if test="isreturn != null">
        isReturn,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="checktime != null">
        checkTime,
      </if>
      <if test="gathertime != null">
        gatherTime,
      </if>
      <if test="returntime != null">
        returnTime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="exception != null">
        exception,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="viceid != null">
        #{viceid,jdbcType=INTEGER},
      </if>
      <if test="clientid != null">
        #{clientid,jdbcType=INTEGER},
      </if>
      <if test="principalid != null">
        #{principalid,jdbcType=INTEGER},
      </if>
      <if test="itemnum != null">
        #{itemnum,jdbcType=INTEGER},
      </if>
      <if test="perprice != null">
        #{perprice,jdbcType=REAL},
      </if>
      <if test="sumprice != null">
        #{sumprice,jdbcType=REAL},
      </if>
      <if test="margin != null">
        #{margin,jdbcType=REAL},
      </if>
      <if test="isscript != null">
        #{isscript,jdbcType=BIT},
      </if>
      <if test="ischeck != null">
        #{ischeck,jdbcType=BIT},
      </if>
      <if test="isgather != null">
        #{isgather,jdbcType=BIT},
      </if>
      <if test="isreturn != null">
        #{isreturn,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIME},
      </if>
      <if test="checktime != null">
        #{checktime,jdbcType=TIME},
      </if>
      <if test="gathertime != null">
        #{gathertime,jdbcType=TIME},
      </if>
      <if test="returntime != null">
        #{returntime,jdbcType=TIME},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="exception != null">
        #{exception,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.software.domain.SaleOrder">
    update sale_order
    <set>
      <if test="viceid != null">
        viceID = #{viceid,jdbcType=INTEGER},
      </if>
      <if test="clientid != null">
        clientID = #{clientid,jdbcType=INTEGER},
      </if>
      <if test="principalid != null">
        principalID = #{principalid,jdbcType=INTEGER},
      </if>
      <if test="itemnum != null">
        itemNum = #{itemnum,jdbcType=INTEGER},
      </if>
      <if test="perprice != null">
        perPrice = #{perprice,jdbcType=REAL},
      </if>
      <if test="sumprice != null">
        sumPrice = #{sumprice,jdbcType=REAL},
      </if>
      <if test="margin != null">
        margin = #{margin,jdbcType=REAL},
      </if>
      <if test="isscript != null">
        isScript = #{isscript,jdbcType=BIT},
      </if>
      <if test="ischeck != null">
        isCheck = #{ischeck,jdbcType=BIT},
      </if>
      <if test="isgather != null">
        isGather = #{isgather,jdbcType=BIT},
      </if>
      <if test="isreturn != null">
        isReturn = #{isreturn,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIME},
      </if>
      <if test="checktime != null">
        checkTime = #{checktime,jdbcType=TIME},
      </if>
      <if test="gathertime != null">
        gatherTime = #{gathertime,jdbcType=TIME},
      </if>
      <if test="returntime != null">
        returnTime = #{returntime,jdbcType=TIME},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="exception != null">
        exception = #{exception,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where orderID = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.software.domain.SaleOrder">
    update sale_order
    set viceID = #{viceid,jdbcType=INTEGER},
      clientID = #{clientid,jdbcType=INTEGER},
      principalID = #{principalid,jdbcType=INTEGER},
      itemNum = #{itemnum,jdbcType=INTEGER},
      perPrice = #{perprice,jdbcType=REAL},
      sumPrice = #{sumprice,jdbcType=REAL},
      margin = #{margin,jdbcType=REAL},
      isScript = #{isscript,jdbcType=BIT},
      isCheck = #{ischeck,jdbcType=BIT},
      isGather = #{isgather,jdbcType=BIT},
      isReturn = #{isreturn,jdbcType=BIT},
      createTime = #{createtime,jdbcType=TIME},
      checkTime = #{checktime,jdbcType=TIME},
      gatherTime = #{gathertime,jdbcType=TIME},
      returnTime = #{returntime,jdbcType=TIME},
      status = #{status,jdbcType=INTEGER},
      exception = #{exception,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where orderID = #{orderid,jdbcType=INTEGER}
  </update>
</mapper>