<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.dao.WarehourseOrderCommonMapper">
  <resultMap id="BaseResultMap" type="com.software.domain.WarehourseOrderCommon">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="sourceID" jdbcType="INTEGER" property="sourceid" />
    <result column="targetID" jdbcType="INTEGER" property="targetid" />
    <result column="senderPrincipalID" jdbcType="VARCHAR" property="senderprincipalid" />
    <result column="receiverPrincipalID" jdbcType="VARCHAR" property="receiverprincipalid" />
    <result column="sourceType" jdbcType="VARCHAR" property="sourcetype" />
    <result column="targetType" jdbcType="VARCHAR" property="targettype" />
    <result column="sumPrice" jdbcType="REAL" property="sumprice" />
    <result column="priceType" jdbcType="VARCHAR" property="pricetype" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
    <result column="checkTime" jdbcType="VARCHAR" property="checktime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, sourceID, targetID, senderPrincipalID, receiverPrincipalID, sourceType, targetType, 
    sumPrice, priceType, createTime, checkTime, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.software.domain.WarehourseOrderCommon" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from warehourse_order_common
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="select" parameterType="com.software.domain.WarehourseOrderCommon" resultMap="BaseResultMap">
		select *
		from warehourse_order_common
		<where>
			<if test="id!=null and id!=''">
				and ID = #{id}
			</if>
			<if test="sourceid!=null and sourceid!=''">
				and sourceID = #{sourceid}
			</if>
			<if test="targetid!=null and targetid!=''">
				and targetID = #{targetid}
			</if>
			<if test="senderprincipalid!=null and senderprincipalid!=''">
				and senderPrincipalID = #{senderprincipalid}
			</if>
			<if test="receiverprincipalid!=null and receiverprincipalid!=''">
				and receiverPrincipalID = #{receiverprincipalid}
			</if>
			<if test="sourcetype!=null and sourcetype!=''">
				and sourceType = #{sourcetype}
			</if>
			<if test="targettype!=null and targettype!=''">
				and targetType = #{targettype}
			</if>
			<if test="pricetype!=null and pricetype!=''">
				and priceType = #{pricetype}
			</if>
			<if test="status!=null and status!=''">
				and status = #{status}
			</if>
		</where>
	</select>
  <delete id="deleteByPrimaryKey" parameterType="com.software.domain.WarehourseOrderCommon">
    delete from warehourse_order_common
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.software.domain.WarehourseOrderCommon">
    insert into warehourse_order_common (ID, sourceID, targetID, 
      senderPrincipalID, receiverPrincipalID, 
      sourceType, targetType, sumPrice, 
      priceType, createTime, checkTime, 
      status)
    values (#{id,jdbcType=INTEGER}, #{sourceid,jdbcType=INTEGER}, #{targetid,jdbcType=INTEGER}, 
      #{senderprincipalid,jdbcType=VARCHAR}, #{receiverprincipalid,jdbcType=VARCHAR}, 
      #{sourcetype,jdbcType=VARCHAR}, #{targettype,jdbcType=VARCHAR}, #{sumprice,jdbcType=REAL}, 
      #{pricetype,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR}, #{checktime,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.software.domain.WarehourseOrderCommon">
    insert into warehourse_order_common
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="sourceid != null">
        sourceID,
      </if>
      <if test="targetid != null">
        targetID,
      </if>
      <if test="senderprincipalid != null">
        senderPrincipalID,
      </if>
      <if test="receiverprincipalid != null">
        receiverPrincipalID,
      </if>
      <if test="sourcetype != null">
        sourceType,
      </if>
      <if test="targettype != null">
        targetType,
      </if>
      <if test="sumprice != null">
        sumPrice,
      </if>
      <if test="pricetype != null">
        priceType,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="checktime != null">
        checkTime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sourceid != null">
        #{sourceid,jdbcType=INTEGER},
      </if>
      <if test="targetid != null">
        #{targetid,jdbcType=INTEGER},
      </if>
      <if test="senderprincipalid != null">
        #{senderprincipalid,jdbcType=VARCHAR},
      </if>
      <if test="receiverprincipalid != null">
        #{receiverprincipalid,jdbcType=VARCHAR},
      </if>
      <if test="sourcetype != null">
        #{sourcetype,jdbcType=VARCHAR},
      </if>
      <if test="targettype != null">
        #{targettype,jdbcType=VARCHAR},
      </if>
      <if test="sumprice != null">
        #{sumprice,jdbcType=REAL},
      </if>
      <if test="pricetype != null">
        #{pricetype,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="checktime != null">
        #{checktime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.software.domain.WarehourseOrderCommon">
    update warehourse_order_common
    <set>
      <if test="sourceid != null">
        sourceID = #{sourceid,jdbcType=INTEGER},
      </if>
      <if test="targetid != null">
        targetID = #{targetid,jdbcType=INTEGER},
      </if>
      <if test="senderprincipalid != null">
        senderPrincipalID = #{senderprincipalid,jdbcType=VARCHAR},
      </if>
      <if test="receiverprincipalid != null">
        receiverPrincipalID = #{receiverprincipalid,jdbcType=VARCHAR},
      </if>
      <if test="sourcetype != null">
        sourceType = #{sourcetype,jdbcType=VARCHAR},
      </if>
      <if test="targettype != null">
        targetType = #{targettype,jdbcType=VARCHAR},
      </if>
      <if test="sumprice != null">
        sumPrice = #{sumprice,jdbcType=REAL},
      </if>
      <if test="pricetype != null">
        priceType = #{pricetype,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="checktime != null">
        checkTime = #{checktime,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.software.domain.WarehourseOrderCommon">
    update warehourse_order_common
    set sourceID = #{sourceid,jdbcType=INTEGER},
      targetID = #{targetid,jdbcType=INTEGER},
      senderPrincipalID = #{senderprincipalid,jdbcType=VARCHAR},
      receiverPrincipalID = #{receiverprincipalid,jdbcType=VARCHAR},
      sourceType = #{sourcetype,jdbcType=VARCHAR},
      targetType = #{targettype,jdbcType=VARCHAR},
      sumPrice = #{sumprice,jdbcType=REAL},
      priceType = #{pricetype,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR},
      checkTime = #{checktime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>